#show-orders {
    // margin-top: 10px;
    width: 100%;
    height: 100%;
    .order-list {
        width: 100%;
        height: 100%;
        // height: 500px;
        padding: 5%;
        overflow-y: scroll;
        box-sizing: border-box;
        .order {
            margin: 5px 0;
            .price {
                // margin: 8px 5px 12px;
                margin: 5px;
                text-align: end;
                color: rgb(48, 3, 3);
                font-size: 18px;
                font-weight: 700;
            }
        }
    }
}