#login {
    .logo {
        position: absolute;
        bottom: 10%;
        right: 5%;
        width: 100px;
        height: 60px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}